# happy2 applicationの管理画面認証の為以下の3行を追加
#RewriteEngine  On
#RewriteCond     %{HTTP:Authorization} ^(.*)
#RewriteRule     ^(.*) - [E=HTTP_AUTHORIZATION:%1]
# happy2 ここまで

#スタンダートなBasic認証　さくらサポートに基づくもの
AuthUserFile /var/www/.htpasswd
AuthGroupFile /dev/null
AuthName "このページを閲覧するには認証が必要です。"
AuthType Basic
require valid-user
