@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	color: #222222;
	background-color: #ccffe0;
}

a {
	color: #3399CC;
}

#header {
	background-color: #7ECE15;
	padding: 20px;
	border-bottom: 3px solid #CCCCCC;
}

#header h1 {
	margin: 0;
}

#header h1 a {
	color: #ffffff;
	text-decoration: none;
}

#header h1 a:hover {
	background-color: #BBBBBB;
}

#main {
	margin: 0 30px;
}

#main_user {
	background-color: #eee;
}

.follow_status img{
	whdth: 92px;
	height: 35px;
	border-radius: 5px;
}

.follow_button, .unfollow_button {
	whdth: 92px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.status {
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
}

.status_null {
	height: 10em;
	background-color: #fcc;
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
}

.order_changer form {
	font-size: 3em;
}

ul.error_list {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.error_list li {
	color: #FF0000;
}

#bar {
	width: 200px;
}
