@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	color: #222222;
	background-color: #ccffe0;
}

a {
	color: #3399CC;
}

#header {
	background-color: #7ECE15;
	padding: 20px;
	border-bottom: 3px solid #CCCCCC;
}

#header h1 {
	margin: 0;
}

#header h1 a {
	color: #ffffff;
	text-decoration: none;
}

#header h1 a:hover {
	background-color: #BBBBBB;
}

#main {
	margin: 0px;
}

#main_user {
	background-color: #b2fcc4;
}

#wsMessage{
	position: fixed;
	left: 30%;
	top: 50px;
	text-align: center;
	/*visibility :hidden;*/
}

#statuses {
	background-color: #b2fcc4;
	padding: 1%;
}

.follow_status img {
	width: 100px;
	border-radius: 10px;
}

.follow_button, .unfollow_button {
	width: 100px;
	border-radius: 10px;
	border: 1px solid #aaa;
}

.viewUsers {
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.simpleStatus {
	background-color: #b2fcc4;
	border-radius: 5px;
	float: left;
	margin-right: 2%;
}

.userImageArea {
	float: left;
	margin-right: 2%;
}

.userImageArea img {
	border-radius: 10px;
}

.userInfoArea {
	width: 25%;
	float: left;
}

.userBalioon {
	height: auto;
	font-size: 3em;
	width: 3em;
	border-radius: 15px;
	background-color: #fff;
	border: 3px solid #888;
}

.userBalioon p{
	text-align: right;
	margin: 0px 20px;
}

.userInfo {
	margin-top: 30px;
	line-height: 0.8em;
	font-weight: bold;
	font-size: 1.2em;
}

.userButtonArea {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	float: left;
}

.userButton {
	text-align: center;
	/*margin-right : auto;
	margin-left : auto;*/
}

.clickAction {
	width: 80%;
	height: 100px;
	border-radius: 15px;
	/*border: 2px solid #eb9b2a;*/
	border: 2px solid #e3b508;
	line-height: 1em;
	color: #fff;
	font-size: 2.5em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	/*background-color: #f0ad4e;*/
	background-color: #f7cb24;
	outline:none;
	padding: 10px;
}

.countNumber{
	color: #333;
	font-weight: bold;
}

.userGraph {

}

.clearBoth {
	clear: both;
}

.status_null {
	height: 10em;
	background-color: #fcc;
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
}

/* サイス指定禁止 canvasID部分対応の為 */
.myCikCanvas {
	/*background-color: #ddd;*/
	border-radius: 5px;
}

.order_changer form {
	font-size: 3em;
}

ul.error_list {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.error_list li {
	color: #FF0000;
}

#bar {
	width: 200px;
}
