@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	color: #222222;
	background-color: #ccffe0;
}

a {
	color: #3399CC;
}

#header {
	width: 100%;
	height: 36px;
	background-color: #7ECE15;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 5px;
	z-index: 3;
}

.indexFrom {
	position: fixed;
	top: 36px;
	left: 0;
	margin: 0;
	padding: 5px;
	height: 36px;
	background-color: #fff;
	z-index: 2;
}

#dummyIndexForm {
	position: fixed;
	width: 100%;
	top: 36px;
	left: 0;
	margin: 0;
	padding: 5px;
	height: 40px;
	border-bottom: 1px solid #8bc244;
	background-color: #fff;
	z-index: 1;
}

#header_menu {
	float: right;
	display: inline;
}

#header h1 {
	font-size: 1.5em;
	padding-top: 10px;
	margin-left: 15px;
	display: inline;
}

#header h1 a {
	color: #ffffff;
	text-decoration: none;
}

#header h1 a:hover {
	background-color: #BBBBBB;
}

#pageTitle {
	margin-top: 20px;
	margin-bottom: 5px;
}

#pageTitle h2 {
	font-size: 1.8em;
	display: inline;
}

#calcStatusArea {
	padding-top: 20px;
	text-align: right;
}

#calcStatusArea p {
	display: inline;
}

/* main user */

#main {
	margin: 0px;
	margin-top: 60px;
	background-color: #b2fcc4;
}

.mainUser {
	background-color: #e2fee5;
	width: 100%;
	padding: 10px 5px 0px 5px;
	border-radius: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
}

.mainUser p {
	margin: 0;
}

#toMeWsMessage{
	position: fixed;
	z-index: 3;
	left: 30%;
	top: 0px;
	text-align: center;
	/*visibility :hidden;*/
}

#toOtherWsMessage{
	/*position: fixed;*/
	z-index: 3;
	left: 30%;
	top: 0px;
	text-align: center;
	/*visibility :hidden;*/
}


#statuses {
	background-color: #b2fcc4;
}

.follow_status img {
	width: 60px;
	border-radius: 5px;
}

.follow_button, .unfollow_button {
	width: 60px;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.viewUsers {
	width: 100%;
	padding: 10px 10px 0 10px;
	background-color: #fff;
	border-radius: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

.mainStatus {
	width: 290px;
	height: 240px;
	margin: 0 auto;
}

.simpleStatus {
	/*background-color: #e2fee5;*/
	background-color: #b2fcc4;
	width: 80px;
	height: 220px;
	padding: 10px;
	border-radius: 10px;
	float: left;
	margin-right: 5px;
}

.userCenterArea {
	background-color: #fff;
	border-radius: 10px;
	padding-top:5px;
	padding-bottom: 215px;
	float: left;
	width: 205px;
	height: 130px;
}

.userImageArea {
	float: left;
	width: 110px;
	height: 130px;
	text-align: center;
	word-wrap: break-word;
}

.userImageArea p {
	margin-bottom: 0px;
	line-height: 1em;
}

.userImageArea img {
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.userInfoArea {
	width: 90px;
	height: 130px;
	float: right;
	margin-left: 1.5%;
}

.userBalloon, #headerUserBalloon {
	float: left;
	height: auto;
	font-size: 2em;
	width: 80px;
	border-radius: 10px;
}

#headerUserBalloon {
	border: 2px solid #3668c4;
	background-color: #7096de;
}

.userBalloon {
	border: 2px solid #888;
	background-color: #fff;
}


.userBalloon p, #headerUserBalloon p {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#headerUserBalloon p {
	color: #fff;
}

.userInfoLeft {
	margin-top: 45px;
	line-height: 0.8em;
	font-weight: bold;
	font-size: 1.2em;
}

.userInfoLeft p {
	text-align: right;
	margin-right: 15px
}

.userInfoBottom {
	/*background-color: #eee;*/
	text-align: center;
	line-height: 1.2em;
	font-size: 1.4em;
	font-weight: bold;
}

.userInfoBottom p {
	margin-bottom: 0px;
	padding: 5px;
}

.userButtonArea {
	width: 290px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-right : auto;
	margin-left : auto;
}

.userButton {
	text-align: center;
	margin-right : auto;
	margin-left : auto;
}

/* Happy!ボタンの設定 */
.clickAction, .myClickAction {
	width: 290px;
	height: 150px;
	border-radius: 20px;
	line-height: 1em;
	color: #fff;
	font-size: 3em;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
	outline:none;
	padding: 10px;
	margin-bottom: 20px;
}

.clickAction {
	/*border: 2px solid #eb9b2a;*/
	border: 2px solid #e3b508;
	/*background-color: #f0ad4e;*/
	background-color: #f7cb24;
}

.clickAction:active {
	/*border: 2px solid #e3b508;*/
	background-color: #f4d563;
}

.myClickAction {
	border: 2px solid #3668c4;
	background-color: #7096de;
}

.myClickAction:active {
	/*border: 2px solid #3668c4;*/
	background-color: #89a8e7;
}

.countNumber{
	color: #333;
	font-weight: bold;
}

.myCikCanvas {
	border-radius: 10px;
}

.otherCikCanvas {
	border-radius: 5px;
}


.clearBoth {
	clear: both;
	color: #fff;
}

.status_null {
	height: 10em;
	background-color: #fcc;
	padding: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin-bottom: 10px;
}

/* orderArea  */

#orderInfoArea {
	width: 100%;
	height: 100px;
	background-color: #fff;
	padding: 10px 0px;
	border-radius: 10px;
	border-bottom: 2px solid #CCCCCC;
	margin: 5px 0px;
}

#orderInfoArea p {
	margin-top: 60px;
	margin-left: 2%;
}

.pagerArea, .orderChangerArea {
	text-align: center;
	display: block;
	border-radius: 5px;
	background-color: #e2fee5;
	font-size: 1em;
	padding: 10px 0px;
	height: 46px;
}

.pagerArea form, .orderChangerArea form {
	text-align: center;
	display: inline;
	font-size: 1em;
}

.pagerArea img {
	width: 22px;
	height: 29px;
}

.orderChangerArea img {
	width: 29px;
	height: 22px;
}


/* サイス指定禁止 canvasID部分対応の為 */
.myCikCanvas {
	border-radius: 10px;
}

ul.error_list {
	border: 1px solid #FF0000;
	background-color: #FFCCCC;
	padding-top: 10px;
	padding-bottom: 10px;
}

ul.error_list li {
	color: #FF0000;
}

#bar {
	width: 200px;
}

#footer {
	position: fixed;
	/*width: 100%;*/
	left: 30%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#bottom_menu_test {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
	z-index: 10;
	background-color: #888;
	height: 150px;
}
